@import url("https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=BBH+Bogle&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Wix Madefor Text", sans-serif;
}
:root {
  --primary-color: black;
  --secondary-color: gray;
  --white-color: white;
}

/* HEADER START */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo h1:hover {
  color: var(--secondary-color);
  transition: 0.2s;
  cursor: pointer;
}
.logo h3:hover {
  color: var(--secondary-color);
  transition: 0.2s;
  cursor: pointer;
}
.logo h3 {
  font-size: 12px;
}
.logo h1::first-letter {
  font-size: 45px;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.header-icons a {
  color: var(--primary-color);
  font-size: 18px;
}
.nav a {
  color: var(--primary-color);
  margin: 0px 10px;
  font-size: 20px;
}
.navigation a:nth-child(1) {
  color: var(--secondary-color);
}
.navigation a:hover {
  color: var(--secondary-color);
  transition: 0.2s;
  cursor: pointer;
}

/* HEADER END */
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.products-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 15px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.products-card img {
  width: 80%px;
  margin: auto;
}
.product-card-text {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  gap: 15px;
  font-weight: bold;
}
.product-card-text a {
  color: var(--primary-color);
  border: 2px solid black;
  padding: 10px;
}
.product-card-text a:hover {
  background-color: black;
  color: var(--white-color);
  transition: 0.4s;
}
.product-card-text p span {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 50px;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.322);
}
.about-container h1 {
  font-size: 50px;
}
.footer-container {
  background-color: black;
  padding: 40px;
}
.footer-column {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-left,
.footer-middle,
.footer-right {
  display: flex;
  flex-direction: column;
  margin: 10px 78px;
  padding: 10px;
  line-height: 30px;
  justify-content: center;
  align-items: start;
  cursor: pointer;
}
.footer-left a,
.footer-middle a,
.footer-right a {
  color: var(--white-color);
}
.footer-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--white-color);
}
.footer-email a {
  color: var(--white-color);
}
.footer-input {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer-input input {
  padding: 10px;
  width: 100%;
}
.footer-input a {
  padding: 10px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: bold;
  width: 100%;
}
.footer-input a:hover {
  background-color: crimson;
  color: var(--white-color);
  transition: 0.5s;
}

@media (max-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header-icons {
    width: 20%;
  }
  .products-container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    
  }
}
